[package]
name = "sn_dbc"
version = "2.14.2"
description = "Safe Network DBC"
license = "MIT OR BSD-3-Clause"
repository = "https://github.com/maidsafe/sn_dbc"
documentation = "https://docs.rs/sn_dbc"
keywords = [ "Safe", "Network", "SafeNetwork", "SafeUrl", "XorUrl" ]
authors = [ "MaidSafe Developers <dev@maidsafe.net>" ]
edition = "2018"

[features]
dkg = [ "bls_dkg" ]
serdes = [ "serde", "ringct-serde" ]
ringct-serde = [ "blst_ringct/serde" ]

[dependencies]
thiserror = "1.0.24"
quickcheck_macros = "1"
rand = "0.8.0"
# blsttc = "3.3.0"
blsttc = {git = "https://github.com/dan-da/blsttc", branch = "sn_dbc_integration"}
hex = "0.4.3"
rand_core = "0.6.3"
# xor_name = "3.1.0"
xor_name = {git = "https://github.com/iancoleman/xor_name", branch = "remove_osrng"}

  [dependencies.quickcheck]
  git = "https://github.com/davidrusu/quickcheck.git"
  branch = "only-build-debug-reprs-on-failure"

  [dependencies.blst_ringct]
  git = "https://github.com/maidsafe/blst-ringct"

  [dependencies.blstrs]
  git = "https://github.com/davidrusu/blstrs.git"
  branch = "bulletproofs-fixes"

  [dependencies.bulletproofs]
  git = "https://github.com/davidrusu/blst-bulletproofs.git"
  branch = "bls12-381-curve"

  [dependencies.bls_dkg]
  git = "https://github.com/dan-da/bls_dkg.git"
  branch = "sn_dbc_integration"
  version = "~0.9.1"
  optional = true

  [dependencies.tiny-keccak]
  version = "2.0.0"
  features = [ "sha3" ]

  [dependencies.serde]
  version = "1.0.133"
  features = [ "derive", "rc" ]
  optional = true

[dev-dependencies]
anyhow = "1.0.40"
rand = "0.8.0"
rustyline = "8.0.0"
bincode = "1.3.3"
criterion = "0.3.5"

  [dev-dependencies.sn_dbc]
  path = "."
  features = [ "dkg", "serdes" ]

[target."cfg(unix)".dev-dependencies]
termios = "0.3.3"

[[bench]]
name = "reissue"
harness = false
required-features = [ "dkg" ]

[[example]]
name = "mint-repl"
path = "examples/mint-repl/mint-repl.rs"
